# Ignore everything
*

# But track these files
.gitignore
README.md
For_test6.java
ECHO가 설정되어 있지 않습니다.
ECHO가 설정되어 있지 않습니다.
ECHO가 설정되어 있지 않습니다.
ECHO가 설정되어 있지 않습니다.
ECHO가 설정되어 있지 않습니다.
ECHO가 설정되어 있지 않습니다.
